@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 3px;
            background-color: #24252A;
        }
        
        li, a, .button {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: #edf0f1;
            text-decoration: none;
        }
        
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 10%;    
        }
        
        p {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: #edf0f1;
            text-decoration: none;
        }
        
        div {
            width:100%;
            
        }
        
        .main{
            display: flex;
            flex-direction: column;
        }
        
        .navbar{
            flex: 0 0 auto;
            align-content: start;
        }
        
        .tests{
            flex: 1 1 auto; 
            overflow-y: hidden; 
            text-align: center;
            max-height: 450px;   
        }

        .tests div{
            margin-bottom: 0px;
        }
        
        .logo {
            cursor: pointer;
        }
        
        .nav__links {
            list-style: none;
        }
        
        .nav__links li {
            display: inline-block;
            padding: 10px 20px;
            word-wrap: break-word;    
        }
        
        .nav__links li a {
            transition: all 0.3s ease 0s;
        }
        
        .nav__links li a:hover:not(.active) {
            background-color: rgba(0,136,169,0.5);
            border: none;
            border-radius: 50px;
        }
        
        .active {
            background-color: rgba(0,136,169,1);
            border: none;
            border-radius: 50px;	
        }
        .button{
            padding: 0;
            border: none;
            background: none;
        }

        .test {
            color:#edf0f1;
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 75%;
            border: 2px solid #edf0f1; 
            text-align: left;
            margin: 15px auto;
        }

        .inner{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .loadbar{
            background-color: #edf0f1;
        }

        .stopped{
            background-color: orangered;
        }

        .started{
            background-color: limegreen;
        }

        .paused{
            background-color: orange;
        }

        /*  */

        a.disabled {
            pointer-events: none;
            cursor: default;
        }

        .button{
            padding: 0;
            border: none;
            background: none;
            cursor: pointer;
        }

        button:disabled{
            cursor: default;
            color: #A4A4A4
        }